<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Phase-6H H2: kein Installer-Provider, keine Installations-Permission -->
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Package-Visibility für Samsung „Eigene Dateien“ (kein Installationsrecht) -->
    <queries>
        <package android:name="com.sec.android.app.myfiles" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="vnd.android.document/directory" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>
</manifest>
